<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fab97ce0f2712af5a722aa6f9d6913e9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    
                <style>
                    #float_image_b056f3f1f3a8151d51b8b0cf617d8515 {
                        position:absolute;
                        bottom:0%;
                        left:0%;
                        }
                </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_fab97ce0f2712af5a722aa6f9d6913e9" ></div>
        
    
            <img id="float_image_b056f3f1f3a8151d51b8b0cf617d8515" alt="float_image"
                 src="/static/img/legend.jpg"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_fab97ce0f2712af5a722aa6f9d6913e9 = L.map(
                "map_fab97ce0f2712af5a722aa6f9d6913e9",
                {
                    center: [43.653, -79.383],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f4e4843891f054998342cdb638a836b7 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var marker_c5391ae942ae42823bd603de8677eeec = L.marker(
                [20.77025, -156.239304],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_cd88381d5faf7be57ccaf695d0ebe6ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c5391ae942ae42823bd603de8677eeec.setIcon(icon_cd88381d5faf7be57ccaf695d0ebe6ab);
        
    
        var popup_2bbcff6e9eefb2ecdcc38f350f95aa6e = L.popup({"maxWidth": "100%"});

        
            var html_5a21aae3000499755e57dc1268cf3ec8 = $(`<div id="html_5a21aae3000499755e57dc1268cf3ec8" style="width: 100.0%; height: 100.0%;">Haleakala National Park, Hawaii</div>`)[0];
            popup_2bbcff6e9eefb2ecdcc38f350f95aa6e.setContent(html_5a21aae3000499755e57dc1268cf3ec8);
        

        marker_c5391ae942ae42823bd603de8677eeec.bindPopup(popup_2bbcff6e9eefb2ecdcc38f350f95aa6e)
        ;

        
    
    
            var marker_0ac6d7221aa3557c58776c81abb1af24 = L.marker(
                [41.546322, 2.44775],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_85e5c0b4aea99a567735caca86f1ccf1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0ac6d7221aa3557c58776c81abb1af24.setIcon(icon_85e5c0b4aea99a567735caca86f1ccf1);
        
    
        var popup_0f24ca34fd429e8a505f1c65822ee367 = L.popup({"maxWidth": "100%"});

        
            var html_781cafd119300e74228f987aaa832752 = $(`<div id="html_781cafd119300e74228f987aaa832752" style="width: 100.0%; height: 100.0%;">La Sagrada Familia, Spain</div>`)[0];
            popup_0f24ca34fd429e8a505f1c65822ee367.setContent(html_781cafd119300e74228f987aaa832752);
        

        marker_0ac6d7221aa3557c58776c81abb1af24.bindPopup(popup_0f24ca34fd429e8a505f1c65822ee367)
        ;

        
    
    
            var marker_d412b89d2dce3352a8f8e57e5760338c = L.marker(
                [50.8169, -0.1367],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_792555d583b8c4f1681ced0ec5bef1ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d412b89d2dce3352a8f8e57e5760338c.setIcon(icon_792555d583b8c4f1681ced0ec5bef1ea);
        
    
        var popup_c4d0df966461a0b7c7b9ef9c16846e61 = L.popup({"maxWidth": "100%"});

        
            var html_8ecf6678c5eebfed16ef1977184d8540 = $(`<div id="html_8ecf6678c5eebfed16ef1977184d8540" style="width: 100.0%; height: 100.0%;">Brighton Palace Pier, UK</div>`)[0];
            popup_c4d0df966461a0b7c7b9ef9c16846e61.setContent(html_8ecf6678c5eebfed16ef1977184d8540);
        

        marker_d412b89d2dce3352a8f8e57e5760338c.bindPopup(popup_c4d0df966461a0b7c7b9ef9c16846e61)
        ;

        
    
    
            var marker_e9da0042623d2b66b2ed1349f8626292 = L.marker(
                [43.790428, -110.681763],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_7f60547ee50a6c12897c5eebda25c9b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e9da0042623d2b66b2ed1349f8626292.setIcon(icon_7f60547ee50a6c12897c5eebda25c9b4);
        
    
        var popup_b7d544a0725af5de42a9adaae611c083 = L.popup({"maxWidth": "100%"});

        
            var html_6b88b5f403d448a0807ee21c6cd9b098 = $(`<div id="html_6b88b5f403d448a0807ee21c6cd9b098" style="width: 100.0%; height: 100.0%;">Grand Teton National Park, USA</div>`)[0];
            popup_b7d544a0725af5de42a9adaae611c083.setContent(html_6b88b5f403d448a0807ee21c6cd9b098);
        

        marker_e9da0042623d2b66b2ed1349f8626292.bindPopup(popup_b7d544a0725af5de42a9adaae611c083)
        ;

        
    
    
            var marker_aa9b5490978d76f8cfb03cef6d1d8027 = L.marker(
                [28.538336, -81.379234],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_ce9d136208e68f98425f88858128f575 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_aa9b5490978d76f8cfb03cef6d1d8027.setIcon(icon_ce9d136208e68f98425f88858128f575);
        
    
        var popup_599800837122eeaa1a1ff7eadc8c0bf4 = L.popup({"maxWidth": "100%"});

        
            var html_712065727e951ff6be2bed70d328aa11 = $(`<div id="html_712065727e951ff6be2bed70d328aa11" style="width: 100.0%; height: 100.0%;">Orlando, Florida, USA</div>`)[0];
            popup_599800837122eeaa1a1ff7eadc8c0bf4.setContent(html_712065727e951ff6be2bed70d328aa11);
        

        marker_aa9b5490978d76f8cfb03cef6d1d8027.bindPopup(popup_599800837122eeaa1a1ff7eadc8c0bf4)
        ;

        
    
    
            var marker_c7645a0e455ba06928768ac43f89c436 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_6adeba87438a4f2bc6119cafd8d8b4f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c7645a0e455ba06928768ac43f89c436.setIcon(icon_6adeba87438a4f2bc6119cafd8d8b4f7);
        
    
        var popup_96147c416fce82afc9d1579978784ca9 = L.popup({"maxWidth": "100%"});

        
            var html_9f740fd25d96b7d73a2e5b7445480c17 = $(`<div id="html_9f740fd25d96b7d73a2e5b7445480c17" style="width: 100.0%; height: 100.0%;">New York City, USA</div>`)[0];
            popup_96147c416fce82afc9d1579978784ca9.setContent(html_9f740fd25d96b7d73a2e5b7445480c17);
        

        marker_c7645a0e455ba06928768ac43f89c436.bindPopup(popup_96147c416fce82afc9d1579978784ca9)
        ;

        
    
    
            var marker_925e37f04f4daefb66a22ce380866741 = L.marker(
                [46.829853, -71.254028],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_57060f241cc71ada5c5a6052d48b6fb8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_925e37f04f4daefb66a22ce380866741.setIcon(icon_57060f241cc71ada5c5a6052d48b6fb8);
        
    
        var popup_b66c69ef9ed177c556e9cfc06c17c2a5 = L.popup({"maxWidth": "100%"});

        
            var html_f295a24d6c9ebe27ba2880e74042cca6 = $(`<div id="html_f295a24d6c9ebe27ba2880e74042cca6" style="width: 100.0%; height: 100.0%;">Quebec City, Canada</div>`)[0];
            popup_b66c69ef9ed177c556e9cfc06c17c2a5.setContent(html_f295a24d6c9ebe27ba2880e74042cca6);
        

        marker_925e37f04f4daefb66a22ce380866741.bindPopup(popup_b66c69ef9ed177c556e9cfc06c17c2a5)
        ;

        
    
    
            var marker_58a18b5e71aee6974df8616c9dc306cf = L.marker(
                [45.5017, -73.5673],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_d12aa330e52f726c9a61379367cb2ad3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_58a18b5e71aee6974df8616c9dc306cf.setIcon(icon_d12aa330e52f726c9a61379367cb2ad3);
        
    
        var popup_e21d1666b067fad36d0de2294aef3acf = L.popup({"maxWidth": "100%"});

        
            var html_7594de128f64e324f77b72f5faf9e856 = $(`<div id="html_7594de128f64e324f77b72f5faf9e856" style="width: 100.0%; height: 100.0%;">Montreal, Canada</div>`)[0];
            popup_e21d1666b067fad36d0de2294aef3acf.setContent(html_7594de128f64e324f77b72f5faf9e856);
        

        marker_58a18b5e71aee6974df8616c9dc306cf.bindPopup(popup_e21d1666b067fad36d0de2294aef3acf)
        ;

        
    
    
            var marker_c475e7e25df55d4e7aa9c71e16c71d9e = L.marker(
                [17.385, 78.4867],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_22fdb210ed73f64184f70f43a4363f8b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c475e7e25df55d4e7aa9c71e16c71d9e.setIcon(icon_22fdb210ed73f64184f70f43a4363f8b);
        
    
        var popup_9aab6c66d3ffc6d9791f691583da51f3 = L.popup({"maxWidth": "100%"});

        
            var html_e835123daba545bfc722b104aaca4136 = $(`<div id="html_e835123daba545bfc722b104aaca4136" style="width: 100.0%; height: 100.0%;">Hyderabad, India</div>`)[0];
            popup_9aab6c66d3ffc6d9791f691583da51f3.setContent(html_e835123daba545bfc722b104aaca4136);
        

        marker_c475e7e25df55d4e7aa9c71e16c71d9e.bindPopup(popup_9aab6c66d3ffc6d9791f691583da51f3)
        ;

        
    
    
            var marker_717f737bd959c941de5dc4ac55911fa7 = L.marker(
                [25.2854, 51.531],
                {}
            ).addTo(map_fab97ce0f2712af5a722aa6f9d6913e9);
        
    
            var icon_ab7f3f0c970b5181dafe775a152a2632 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_717f737bd959c941de5dc4ac55911fa7.setIcon(icon_ab7f3f0c970b5181dafe775a152a2632);
        
    
        var popup_a9d6ca4ac3cb39fb6cc2db59de967ba2 = L.popup({"maxWidth": "100%"});

        
            var html_b3676907f0341cf984d5994c449f13fd = $(`<div id="html_b3676907f0341cf984d5994c449f13fd" style="width: 100.0%; height: 100.0%;">Doha Qatar</div>`)[0];
            popup_a9d6ca4ac3cb39fb6cc2db59de967ba2.setContent(html_b3676907f0341cf984d5994c449f13fd);
        

        marker_717f737bd959c941de5dc4ac55911fa7.bindPopup(popup_a9d6ca4ac3cb39fb6cc2db59de967ba2)
        ;

        
    
</script>